<div class="lang">
    <div class="btn-group dropup">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-globe"></i> {{ site.data[site.locale].locale_selector.title }}
        </button>
        <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            {% for locale in site.locales %}
              {% if site.locale == locale %}{% continue %}{% endif %}
              <li>
                <a class="dropdown-item" href="/{{ locale }}/" rel="alternate" hreflang="{{ locale }}">{{ site.data[locale].home.locale }}</a>
              </li>
            {% endfor %}
        </div>
    </div>
</div>
